##Knowlwdge Check - 1

### Printing output

1 - Using print(), print your name and city following the format:

        Name : Angela
        City : New York

In [1]:
print('Name : Sean' '\n' 'City : New York')

Name : Sean
City : New York

2 - Print the message below

     Emergency Alert
     NEWS : FLASH FLOOD WARNING this area till 7:00 PM

In [2]:
print('Emergency Alert' '\n' 'NEWS : FLASH FLOOD WARNING this area till 7:00 PM')

Emergency Alert
NEWS : FLASH FLOOD WARNING this area till 7:00 PM

### Arithmetic Operators and Variables

3 - Take a number and divide it by 2, then take the output and divide it by 2, and again divide by 2. Use variables.


    Example
    input : 2000
    output is: 1000 500 250

In [24]:
input =2000
val1=input/2
print(val1)
val2=val1/2
print(val2)
val3=val2/2
print(val3)

1000.0
500.0
250.0

4 - Given three number x, y, and z,


       Output: x to the power of z,
               x to the power of y,
               x minus y,
               remainder value when x is divided by z

In [7]:
x=5
y=10
z=15
print(x**z)
print(x**y)
print(x-y)
print(x%z)

30517578125
9765625
-5
5

5 - Add

        4 quarters (0.25),  3 dimes (0.10), 2 nickels (0.5) and 1 cent
        Output:  the total amount as dollars and cents.

In [13]:
total=((.25*4)+(.1*3)+(.5*2)+.01)
print('The total amount in dollars and cents is ${r:1.2f}'.format(r=total))

The total amount in dollars and cents is $2.31

### Strings

6 - Given the string **Python**, with the help of slicing, get **o**.

In [27]:
word ='Python'
print(word[4:5])

o

7 - Given the string **Python**, with the help of slicing get,  **tho**.

In [29]:
word ='Python'
print(word[2:5])

tho

8 - Given the string **Python Class**, with the help of slicing, get **Class**.

In [33]:

word='Python Class'
print(word[7:15])

Class

9 - Find the length of the String  **Welcome to Pace University**

In [34]:
word='Welcome to Pace University'
print(len(word))

26

10 - Split the String  **Welcome to Pace University**  into words

In [35]:
word='Welcome to Pace University'
print(word.split())

['Welcome', 'to', 'Pace', 'University']

11 - Replace the letter  **i**  with  **o**  in  **Artificial intelligence**

In [36]:
word='Artificial intelligence'
print(word.replace('i','o'))

Artofocoal ontellogence

12 - convert the text  **DATA Science**  into lower case ( as **data science**)

In [37]:
word='DATA Science'
print(word.lower())

data science

13 - convert the text  **DATA Science**  into UPPER case ( as **DATA SCIENCE**)

In [38]:
word='DATA Science'
print(word.upper())

DATA SCIENCE

14 - reverse the given String  **Artificial intelligence**

In [39]:
word='Artificial intelligence'
print(word[::-1])

ecnegilletni laicifitrA

###Comparision Operators

15 - Compare two number a =150, b = 225 and print if they are:

        equal,
        greater,
        greater than or equal to,
        less,
        less than or equal to,  
        not equal
       
        example : a < b
                  print("a is less than b")

In [44]:
a=150
b=225
if a==b:
  print('a is equal to b')
if a>b:
  print('a is greater than b')
if a>=b:
  print('a is greater than or equal to b')
if a<b:
  print('a is less than b')
if a<=b:
  print('a is less than or equal to b')
if a!=b:
  print('a is not equal to b')

a is less than b
a is less than or equal to b
a is not equal to b

###Lists

16 - Create a **list** of **lists** of integers elements

In [48]:
my_list =[[1,2,3],[4,5,6],[7,8,9]]
print(my_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

17 - Create a **list** of **lists** of Text elements

In [49]:
fruit_list=[['apple','banana','mango'],['orange','tangerine','pineapple'],['cherry','dragon fruit','clementine']]
print(fruit_list)

[['apple', 'banana', 'mango'], ['orange', 'tangerine', 'pineapple'], ['cherry', 'dragon fruit', 'clementine']]